@model WebTu.ViewModel.SPA.CreateEmployeeViewModel
<script src="~/Scripts/Validations.js"></script>

<script>
    function resetForm() {
        document.getElementById("txtFName").value = "";
        document.getElementById("txtLName").value = "";
        document.getElementById("txtSalary").value = "";
    }

    function cancelSave() {
        $('#divCreateEmployee').dialog('close');
    }

    function saveEmployee() {
        if (isValid()) {
            var e = {
                FirstName: $('#txtFName').val(),
                LastName: $('#txtLName').val(),
                Salary: $('#txtSalary').val()
            };
            $.post("/SPA/Main/SaveEmployee", e).then(
                function (r) {
                    var newTr = $("<tr></tr>");
                    var nameTD = $("<td></td>");
                    var salaryTD = $("<td></td>");
                    nameTD.text(r.EmployeeName);
                    salaryTD.text(r.Salary);
                    salaryTD.css("background-color", r.SalaryColor);
                    newTr.append(nameTD);
                    newTr.append(salaryTD);
                    $('#EmployeeTable').append(newTr);
                    $('#divCreateEmployee').dialog('close');
                }
                );
        }
    }
</script>

<div>
    <table>
        <tr>
            <td>
                First Name:
            </td>
            <td>
                <input type="text" id="txtFName" name="FirstName" value="@Model.FirstName" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                @Html.ValidationMessage("FirstName")
            </td>
        </tr>
        <tr>
            <td>
                Last Name:
            </td>
            <td>
                <input type="text" id="txtLName" name="LastName" value="@Model.LastName" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                @Html.ValidationMessage("LastName")
            </td>
        </tr>

        <tr>
            <td>
                Salary:
            </td>
            <td>
                <input type="text" id="txtSalary" name="Salary" value="@Model.Salary" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                @Html.ValidationMessage("Salary")
            </td>
        </tr>

        <tr>
            <td colspan="2">

                <input type="submit" name="BtnSubmit" value="Save Employee" onclick="saveEmployee();" />
                <input type="submit" name="BtnSubmit" value="Cancel" onclick="cancelSave();" />
                <input type="button" name="BtnReset" value="Reset" onclick="resetForm();" />
            </td>
        </tr>
    </table>
</div>
